/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The acutal site */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Lora', serif;
  text-align: center;
}

body {
	padding: 50px 0;
}

h1 {
  text-align: center;
  font-size: 30px;
	margin-bottom: 15px;
}

hr {
  width: 50%;
	margin: 40px auto;
  height: 1px;
  background-color: #ccc;
  border: 0;
  display: block;
}

.timestamp {
  font-size: 14px;
  text-align: center;
}

.scrollContainer {
  width: 100%;
  padding: 0 50px;
  overflow-x: scroll;
  overflow-y: visible;
}

.sites {
  padding: 50px 0;
  display: flex;
}

.site {
  margin: 10px;
  box-shadow: 0 6px 15px 3px rgba(0, 0, 0, 0.3);
  width: 270px;
  height: auto;
  flex-shrink: 0;
  /*transform-origin: 50% 0%;
  transition: transform 0.3s ease;*/
}

/*.site:hover {
  transform: scale(1.15);
}*/

.siteImage {
  width: 100%;
  height: auto;
}

.siteTitle {
	height: 60px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	display: flex;
  justify-content: center;
	align-items: center;
}

.bias-1 { background-color: #3151c9; }
.bias-2 { background-color: #788cf5; }
.bias-3 { background-color: #998fa1; }
.bias-4 { background-color: #d96d7f; }
.bias-5 { background-color: #b12b33; }
